@import "tailwindcss";

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  src: url("/fonts/inter.ttf") format("truetype");
}
@font-face {
  font-family: "chivo";
  src: url("/fonts/chivo.ttf") format("truetype");
}
@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 800;
}

@theme {
  --color-p: #080807;
  --color-s: #ffffff;
  --color-bg-p: #141414;
  --color-bg-s: #ffffff;

  --color-brd: #ededed;

  --font-neue: "Neue Montreal";
  --font-inter: "inter";
  --font-general: "general";
  --font-chivo: "chivo";

  --breakpoint-full-ds: 1900px;
  --breakpoint-xxs: 1600px;
  --breakpoint-ds: 1262px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 450px;
  --breakpoint-xsm: 380px;
}

html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smooth: never !important;
  letter-spacing: 0;
  background: #ebebeb;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Azeret Mono", sans-serif;
  background: #ebebeb;
}

::-webkit-scrollbar {
  display: none;
}

#noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.015;
  z-index: 99999;
  pointer-events: none;
  background: url("../public/noise.gif");
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 99999999;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
